
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 10px 10px 100px;
}

li:nth-child(even) {
  padding: 10px 10px 10px 0px;
  margin: 10px 0px 10px -20px;
  color: aquamarine;
}

li {
  margin-left: -20px;
}

.count {
  border-radius: 5vw;
  border-style: none;
  background-color: antiquewhite;
  color: black;
  padding: 1px 10px;
  margin: 10px;
  word-spacing: 10px;
}


.input {
  padding: 10px;
  border-style: groove;
  border-width: 5px;
}
.input:hover {
  background-color: lightgray;
}
.btn {
  padding: 10px;
  margin: 5px;
  border-width: 5px;
}
.btn:hover{
  transform: scaleY(1.1) scaleX(1.1);
  background-color: lightgray;
}

